.headerpart{
	text-align: center;
	display: flex;
	background-color: #D9EEE1;
	gap: 30px;
	justify-content: center;
	place-items: center;

}
.hr{
	padding: 0;
	margin: 0;
	width: 50%;
	color: black;
}
.bg1{
		background-color: #D9EEE1;
}
img{
	width: 50px;
	height: 50px;
}
h1{
	font-size: 50px;
	color: rgb(255, 255, 255);
}
.description1{
    font-size: 20px;
    text-align: center;
}
.description1 p{
	font-size: 20px;
	color: white;
}
ul{
	list-style-type: none;
	background-color:#D9EEE1;
	display: flex;
	margin: 0;
	padding-bottom:30px;
	padding-top: 50px;
	justify-content: center;
}

li a{
	color: white;
	text-decoration: none;
	font-size: 25PX;
	padding: 10px 70px;

}
li a:hover{
	color:black;
background-color: white;
border-end-end-radius: 50%;
border-start-start-radius: 50%;
}

.bg9{
	background-image: url(https://i.postimg.cc/vmNRKwsJ/dev3.jpg);
	background-size: cover;
	
}
	
.head2{
	color: white;
	font-size: 40px;
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 20px;
}

.p2{
    color: #D9EEE1;
    font-size:25px;
    font-family:'Source Sans Pro', sans-serif;
}
.space{
	line-height: 0.2;
}
.sbox{
	width: 450px;
	height:45px;
	font-size: 25px;
	font-family:'Source Sans Pro', sans-serif;

}
::placeholder{
          color: #3B9C9C;
}

.searchbox{
	justify-content: center;
	padding: 10px;

}

.button{
	font-size: 25px;
	height: 45px;
	width: 50px;
cursor: pointer;
font-family:'Source Sans Pro', sans-serif;
background:#D9EEE1;
color: #3B9C9C;
border: 1px solid black;
}
.link{
	color: #D9EEE1;
    font-size:25px;
    font-family:'Source Sans Pro', sans-serif;
    padding: 30px;
}
 .tab{
	font-size: 30px;
	text-decoration: none;
	text-align: center ;
	padding: 90px;
	margin: 50px;
	
}
.tab:hover{
	color: floralwhite;
}

 .tcolor1{
	background-color: rgb(247, 185, 181);

 }
 
 .tcolor2{
	background-color:rgb(214, 159, 155) ;
 }

 .tcolor3{
	background-color:rgb(233, 196, 193);
 }

 .tcolor4{
	background-color:#b4dac3;
 }

 .tcolor5{
	background-color:#13c7c7 ;
 }

 .tcolor6{
	background-color: #b4dad8;
 }

 .tcolor7{
	background-color: rgb(247, 213, 191);
 }

 .tcolor8{
	background-color: rgb(211, 191, 164);
 }

 .tcolor9{
	background-color: rgb(247, 207, 171);
 }


 .tabd{
	display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 20px 0px; 
	
 }