.headerpart{
	text-align: center;
	display: flex;
	background-color: #076b56;
	gap: 30px;
	justify-content: center;
	place-items: center;

}
.hr{
	padding: 0;
	margin: 0;
	width: 50%;
	color: black;
}
.bg1{
		background-color: #076b56;
}
img{
	width: 50px;
	height: 50px;
}
h1{
	font-size: 50px;
	color: rgb(255, 255, 255);
}
.description1{
    font-size: 20px;
    text-align: center;
}
.description1 p{
	font-size: 20px;
	color: white;
}
ul{
	list-style-type: none;
	background-color:#076b56;
	display: flex;
	margin: 0;
	padding-bottom:30px;
	padding-top: 50px;
	justify-content: center;
}

li a{
	color: white;
	text-decoration: none;
	font-size: 25PX;
	padding: 10px 70px;

}
li a:hover{
	color:black;
background-color: white;
border-end-end-radius: 50%;
border-start-start-radius: 50%;
}

.bg9{
	
	background-size: cover;
	
}
	
.head2{
	color:#076b56;
	font-size: 40px;
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 20px;
}

.p2{
    color: #076b56;
    font-size:25px;
    font-family:'Source Sans Pro', sans-serif;
}
.space{
	line-height: 0.2;
}
.sbox{
	width: 450px;
	height:45px;
	font-size: 25px;
	font-family:'Source Sans Pro', sans-serif;
	border: 1px solid black;

}
::placeholder{
          color:#076b56;
}

.searchbox{
	justify-content: center;
	padding: 10px;
	

}

.button{
	font-size: 25px;
	height: 45px;
	width: 50px;
cursor: pointer;
font-family:'Source Sans Pro', sans-serif;
background:#076b56;
color: #ffff;
border: 1px solid black;
}
.link{
	color: #076b56;
    font-size:25px;
    font-family:'Source Sans Pro', sans-serif;
    padding: 30px;
}
 .tab{
	font-size: 25px;
	text-decoration: none;
	color:black;
	text-align: center ;
	margin: 50px;
	padding:90px;
	border-radius: 5px;
	font-family:'Source Sans Pro', sans-serif;
	background-color:#076b56;


}
.tab:hover{
	color: floralwhite;
}


 
 .tutorialbody{
	background-color: #000;
 }

 .tabd{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	align-items: center;
	}

.tcolor7{
	padding:75px;
}