.headerpart{
	text-align: center;
	display: flex;
	background-color: #076b56;
	gap: 30px;
	justify-content: center;
	place-items: center;

}
.hr{
	padding: 0;
	margin: 0;
	width: 50%;
	color: black;
}
.login{

	text-decoration: none;
	color: #ffff;
	font-size: 20px;
	
}
.fas{
	color: #ffff;
	width: 23px;
	height: 23px;
}
.login:hover{
	background-color: #ffff;
	color: #076b56;
}
.topleft{
    text-align: right;
	display: flex;
	background-color: #076b56;
	gap: 10px;
	justify-content: center;
	place-items: right;
	padding-right: 5px;
	padding-left: 1220px;
	padding-top: 7px;
}

.bg1{
	background-color: #076b56;
}
img{
	width: 50px;
	height: 50px;
}
h1{
	font-size: 50px;
	color: rgb(255, 255, 255);
}
.description1{
    font-size: 20px;
    text-align: center;
}
.description1 p{
	font-size: 20px;
	color: white;
}
.ulh{
	list-style-type: none;
	background-color:#076b56;
	display: flex;
	margin: 0;
	padding-bottom:30px;
	padding-top: 50px;
	justify-content: center;
}

.lih{
	color: white;
	text-decoration: none;
	font-size: 20PX;
	padding: 10px 70px;

}
li a:hover{
	color:#076b56;
background-color: white;
border-end-end-radius: 50%;
border-start-start-radius: 50%;
}


.bg9{
	
	background-size: cover;
	
}
	
.head2{
	color:#076b56;
	font-size: 40px;
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 20px;
}

.p2{
    color: #076b56;
    font-size:25px;
    font-family:'Source Sans Pro', sans-serif;
}
.space{
	line-height: 0.2;
}
.sbox{
	width: 450px;
	height:45px;
	font-size: 25px;
	font-family:'Source Sans Pro', sans-serif;
	border: 1px solid black;
	border-radius: 20px;

}
::placeholder{
          color:#076b56;
}

.searchbox{
	justify-content: center;
	padding: 10px;
	

}

.button{
	font-size: 25px;
	height: 45px;
	width: 50px;
cursor: pointer;
font-family:'Source Sans Pro', sans-serif;
background:#076b56;
color: #ffff;
border: 1px solid black;
border-radius: 15px;
}
.link{
	color: #076b56;
    font-size:25px;
    font-family:'Source Sans Pro', sans-serif;
    padding: 30px;
}
.tutorialhead{
	align-items: center;
	display: flex;
	gap: 5px;
    padding-left:10px;
	padding-top: 0px;
    margin:0%;

}
.h1t
{
	font-size: 40px;
    padding: 0%;
	margin:5px;
}

.tutorialbg{
	background-color: #076b56;
	

}

.ult{
	list-style-type: none;
	display: flex;
    float: right;
	padding-left: 280px;
}
.lit{
	color: #ffff;
   padding-left: 25px;
   padding-right: 25px;
	text-decoration: none;
	font-size: 20px;
}
.ult .lit:hover{
	border-radius: 1px;
}

.tutorialbody{
	background-color: #076b56;
	width: 18%;
	height: 570px;
	position:fixed;
}
.tab{
	color: #ffff;
	text-decoration: none;
	font-size: 20px;
	margin-left: 10px;
	line-height: 2.1em;
	display: block;
}

.tutorialbody .tab:hover{
	background-color: #198b75;
}

.aboutuspage{
	background-color: #076b56;
	gap: 20px;
	justify-content: center;
	place-items: center;
	
}
.display{
	display: flex;
	align-items: center;
}
.bga{
	height: 250px;
	width: 300px;
	margin: 50px;
	border: 1px solid white;
	padding: 20px;

}
.h1a{
	font-family:'Source Sans Pro', sans-serif;
	font-size: 30px;
    padding-bottom: 0;
	margin-bottom:15px;
	color: #ffff;
}
.hra{
	width: 50%;
	color: #ffff;
	float: left;
	
}
.pa{
	color: #ffff;
	font-family:'Source Sans Pro', sans-serif;
	font-size:17px;
	margin: 0%;
	padding-top: 30px;
	padding-bottom: 0%;
}
.icona{
	display: flex;
	gap: 30px;
	align-items: baseline;
}
.fbicon{
	width: 33px;
	height: 33px;
}
.instaicon{
	height: 35px;
	width: 35px;
}
.terms{
	color: #ffff;
}

.pa1{
	color: #ffff;
	font-family:'Source Sans Pro', sans-serif;
	font-size:22px;
}
.a1{
	color:#ffff;
	font-size: 24px;
	padding-top: 0%;
}
.pa2{
	color: #ffff;
	font-size: 12px;
	font-family:'Source Sans Pro', sans-serif;
	float: left;
}
.bottomhead{																										
	display: flex;
	justify-content: center;
	place-items	: center;
    padding-top: 45px;
	padding-bottom: 0px;
	margin-bottom: 0px;

}
.h2a{
	font-size: 45px;
	color: #076b56;
    padding: 0%;
	margin-bottom: 18px;
}
.hra1{
	color:#000;
	width: 50%;
	padding-top: 0px;
	margin-top: 0%;
}
.ula{
	list-style-type: none;
	justify-content: center;
	display: flex;
	padding-top: 10px;
	margin-top:4px;
}
.liaa{
	text-decoration: none;
	color: #076b56;
	font-size:18px ;
	padding-right: 33px;
	padding-left: 33px;

}

.ula .liaa:hover{
	color:#ffff;
   background-color:#076b56;
   border-radius: 1px;

}

.popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color:#ffff;
	box-shadow:0 0 20px #000;
	padding: 20px;
	border-radius: 10px;
	z-index: 9999;
  }
  
  .popup-content {
	color: #000;
  }
  
  .close {
	color: #000;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
  }
  
  .close:hover {
	color: #000;
  }


.loginbody {

    background-color: #ffff;
    margin: 0;
    padding: 0;
}

.login-container {
    width: 300px;
    margin: 100px auto;
    background-color: #ffff;
    padding: 20px;
	border: 1px solid #076b56;
    border-radius: 3px;
	box-shadow: 0 0 15px #076b56;
}

.h2l {
	font-size: 30px;
    text-align: center;
	color: #076b56;
	font-family: 'Roboto', sans-serif; 
}

.form-group {
    margin-bottom: 20px;
}



input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 35%;
    padding: 8px;
	margin: 5px;
	border-radius: 5px;
    background-color: #076b56;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #198b75;
}

button:focus {
    outline: none;
	box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

.loginbg{
	background-color: #076b56;

}

.loginhead{
	align-items: center;
	display: flex;
	gap: 5px;
    padding-left:10px;
	padding-top: 0px;
    margin:0%;
}

.h1l
{
	font-size: 30px;
    padding: 0%;
	margin:5px;
}

.ull{
	list-style-type: none;
	display: flex;
    float: right;
	padding-left: 380px;
}
.lil{
	color: #ffff;
   padding-left: 25px;
   padding-right: 25px;
	text-decoration: none;
	font-size: 20px;
}
.ull .lil:hover{
	border-radius: 1px;
}

.showpassword{
	color: #076b56;
	font-family: 'Roboto', sans-serif;	
	font-size: 13px;
}
.h2i{
	color: #000;
}

